<div class="details-card">
  <h2><%= @tv_show.title %></h2>
  
  <div class="detail-row">
    <strong>Season:</strong>
    <span><%= @tv_show.season %></span>
  </div>
  
  <div class="detail-row">
    <strong>Episode:</strong>
    <span><%= @tv_show.episode %></span>
  </div>
  
  <div class="detail-row">
    <strong>Network:</strong>
    <span><%= @tv_show.network %></span>
  </div>

  <div class="actions">
    <%= link_to 'Back', tv_shows_path, class: 'btn btn-secondary' %>
  </div>
</div>
